@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
:root{
    --dark: #161616;
    --primary: #3ea3b1;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
}
body{
    font-family: 'poppin', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}
.logo{
    color: var(--pure);
    text-transform: uppercase;
}
header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%,78% 90%,0 100%);
}
header nav .left-side a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left-side a:hover{
    color: var(--primary);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.content{
    justify-content: space-between;
}
.center-items{
    align-items: center;
}
header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}
  .btn-primary {
      background: var(--primary);
      color: var(--secondary);
  }                      
  .btn-primary:hover{
      background: transparent;
      border-color: var(--primary)
  }
  .content-container{
      padding: 3rem 0;
  }
.content-container .right{
    color: var(--pure);

}

  .content-container .right h6{
      font-size: 1.6rem;
      color: var(--primary);
      margin-bottom: 0.5rem;
      text-transform: capitalize;
  }
  .content-container .right h1{
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2rem;
      font-weight: 100;
  }
  .content-container .right span{
      color: var(--primary);
  }
  .content-container .right p{
      line-height: 1.9;
      margin-bottom: 2rem;
  }
  .btn-secondary{
      background: transparent;
      color: var(--pure);
      border-color: var(--primary);
  }
  .btn-secondary:hover{
      background-color: var(--primary);
      color: var(--secondary);
  }
  .flex1{
      flex: 1;
  }
  .justify{
      justify-content: center;
  }
  .content-container .right{
      margin-top: -4rem;
  }
  section{
      padding: 6rem 0;
  }
 section .about .about-us-img{
     height: 450px;
 }
 section .about h1{
     margin-bottom: 1rem;
     font-size: 1.6rem;
     font-weight: 400;
 }
section h1 span{
    color: var(--primary);
}
section .about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}